In [5]:
import os
import pandas as pd

os.listdir('./input')

['train.csv',
 'sample_submission.csv',
 'test_supplement.csv',
 'test.csv',
 'train_sample.csv']

In [10]:
train_csv = pd.read_csv('input/train_sample.csv')
train_csv.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [11]:
test_supplement_csv = pd.read_csv('input/test_supplement.csv')
test_supplement_csv.head()

   click_id      ip  app  device  os  channel           click_time
0         0   43570    3       1  18      379  2017-11-09 14:23:39
1         1   80528    3       1  13      379  2017-11-09 14:23:51
2         2   32323    3       1  13      379  2017-11-09 14:25:57
3         3   42887    3       1  17      379  2017-11-09 14:26:03
4         4  119289   58       1  30      120  2017-11-09 14:26:41